body 
{
    background-color: #080808;
    color:hsl(0, 0%, 100%)
}


/* hr{
    border: 0.8px solid crimson;
    background-color:crimson
} */
 nav a
 {
    color:rgb(249, 248, 248);
    text-decoration: none;

 }
 nav a:hover
 {
    color:rgb(115, 195, 249);
    text-decoration: underline;

 }
 #applyBtn:hover {
  background-color: #007bff; /* highlight on hover */
  color: white;
  cursor: pointer;
}

 nav a:active
 {
    color: red;
    text-decoration: underline;

 }
 #style:hover
 {
   background-color: rgb(61, 87, 87);
 }
 .apply
 {
   background-color: #2e2c2c;
   color: white;
 }
 .b
 {
    background-color: rgb(18, 197, 237);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
 }
   .b:hover
   {
      background-color: rgb(12, 150, 182);
   }
.nav-bar
{
   text-align: end;
   font-size: 10px;
}

.border
{
   border: 1px solid gray;
   padding-right:40px;
   padding-left: 20px;
   padding-bottom: 40px;
   border-radius: 10px;
   margin-right:20px;
   text-align: center;
   background-color: rgb(39, 38, 38);
   
}
.border:hover
{
   background-color: rgb(0, 0, 0);
   color: rgb(235, 235, 235);
}
.button 
{
   background-color: rgba(7, 7, 7, 0.281);
    color: rgb(68, 209, 211);
    font-weight: bold;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: solid rgb(68, 209, 211);
}
.button:hover
{
   background-color: rgb(68, 209, 211);
   color: black;
}
.course
{
   margin-right: 20px;
}

