body 
{
    background-color: #080808;
    color:hsl(0, 0%, 100%)
}


/* hr{
    border: 0.8px solid crimson;
    background-color:crimson
} */
 nav a
 {
    color:white;
    text-decoration: none;

 }
 nav a:hover
 {
    color:rgb(115, 195, 249);
    text-decoration: underline;

 }
 nav a:active
 {
    color: red;
    text-decoration: underline;

 }
 .apply
 {
   background-color: #2e2c2c;
 }
 .b
 {
    background-color: rgb(18, 197, 237);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
 }
   .b:hover
   {
      background-color: rgb(12, 150, 182);
   }